* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Theme */
:root {
  --color1: #f9fbe7;
  --color2: #fff9c4;
  --color3: #e6ee9c;
  --color4: #cddc39;
  --color5: #afb42b;
  --color6: #827717;
  --color7: #eeff41;
  --color8: #aeea00;
}

body {
  background-color: var(--color1);
  /* background-color: black; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  min-height: 100vh;
  /* padding-bottom: 7.5em; */
}

/* App Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header .app-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 15px;
  color: var(--color8);
}
.app-header-twk1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--color5);
  color: var(--color1);
}

.app-header .search-bar {
  margin-right: 15px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: var(--color7);
  box-shadow: 0px 2px 5px var(--color8);
  color: var(--color6);
  font-weight: bold;
}

.search-bar:focus {
  outline: none;
}

/* LoginSignUp */
.login-signup {
  text-align: right;
  font-size: 1.2em;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  line-height: 1.8em;
  /* width: 100%; */
  /* margin: auto; */
}

.login-signup ul li {
  list-style: none;
}

.nav-login {
  margin-left: 0.5em;
  border: 1px solid var(--color1);
  padding: 0.1em 0.3em;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.nav-signup {
  margin-left: 0.5em;
  border: 1px solid var(--color1);
  padding: 0.1em 0.3em;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
.nav-login:hover,
.nav-signup:hover {
  background-color: var(--color3);
  color: black;
  opacity: 70%;
}
/* Article Card */
.article-intro {
  width: 90%;
  margin: auto;
  padding: 1em 0;
  color: var(--color5);
}

.article-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  position: relative;
  padding-bottom: 170px;
}

.article-card {
  /* border: 1px solid var(--color8); */
  box-shadow: -1px 1px 1px var(--color8);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.article-card:hover {
  position: relative;
  bottom: 2px;
  box-shadow: 1px 1px 1px var(--color6);
}

.article-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.article-card h2 {
  color: var(--color8);
  /* text-align: center; */
  width: 95%;
  margin: auto;
  font-size: 18px;
}
.article-card p {
  width: 95%;
  margin: auto;
  font-size: 13px;
}
.article-card h6 {
  text-align: right;
  margin-right: 5px;
  margin-bottom: 5px;
  color: var(--color6);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Media Queries for article-card */
@media (max-width: 500px) {
  .article-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 900px) {
  .article-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* App-Footer */
.app-footer {
  /* margin-top: 3em; */
  background-color: var(--color5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 150px;
}
.app-footer li {
  list-style: none;
}

.app-footer-lists h2 {
  color: var(--color1);
  font-size: 24px;
  text-align: center;
}
.app-footer-lists p {
  font-size: 20px;
  color: var(--color1);
  letter-spacing: 2px;
  margin-top: -10px;
  text-align: center;
}
.app-footer-lists li {
  font-size: 18px;
  color: var(--color2);
  text-align: center;
  font-weight: bold;
}

.app-footer-social ul {
  display: flex;
  justify-content: center;
}

.app-footer-social p {
  color: var(--color1);
}

.app-footer-social a {
  text-decoration: none;
  color: var(--color7);
}

.app-footer-form {
  margin-top: 0.3em;
  display: flex;
  justify-content: center;
}
.app-footer-form input[type="text"] {
  padding: 0.5em;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--color1);
}
.app-footer-form input[type="text"]:focus {
  border: 1px solid var(--color6);
}

.app-footer-form input[type="submit"] {
  padding: 0.5em;
  margin-left: 0.3em;
  border-radius: 5px;
  border: 2px solid var(--color4);
  background-color: var(--color3);
  transition: all 0.3s ease;
}
.app-footer-form input[type="submit"]:hover {
  background-color: var(--color5);
}
/* App-Login App-SignUp*/
.app-login {
  display: grid;
  place-items: center;
  height: 52.5vh;
  width: 80%;
  margin: auto;
  box-shadow: 2px 2px 5px 1px var(--color8);
  margin-top: 2em;
  border-radius: 5px;
  /* padding-bottom: 7.5em; */
}

.app-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-login label {
  font-size: 20px;
  letter-spacing: 0.1em;
  color: var(--color5);
}

.app-login input {
  padding: 0.5em 1em;
  margin: 0.5em 1em;
  border: 1px solid var(--color3);
  width: 250px;
  border-radius: 5px;
}

.app-login input:focus {
  outline: none;
  border: 1px solid var(--color4);
}

.app-login input::placeholder {
  color: var(--color5);
  letter-spacing: 0.1em;
}

.app-login input[type="submit"] {
  background: linear-gradient(to right, var(--color4), var(--color5));
  color: var(--color1);
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.app-login input[type="submit"]:hover {
  /* box-shadow: 1px 2px 1px 5px var(--color5); */
  box-shadow: 1px 1px 3px 1px var(--color8);
}

.passFail {
  color: red;
  text-align: center;
  font-weight: bold;
}
.passSuccess {
  color: var(--color8);
}

/* WriterPage */
.writerPage-intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--color8);
}
.intro2 {
  justify-content: center;
  flex-wrap: wrap;
}

.intro2 h2 {
  font-size: 1.1em;
  margin-right: 1em;
}
.intro2 a {
  font-size: 1.2em;
}

.writerPage-intro img {
  border-radius: 50%;
  width: 100px;
}
.post-container {
  position: relative;
}

.writerPage-deleteBtn {
  position: absolute;
  top: 0;
  background-color: rgb(240, 64, 64);
  border: none;
  border-top-left-radius: 5px;
  padding: 5px;
}

.upload {
  margin-bottom: 1em;
}
.uploadBtn {
  border: none;
  border-radius: 5px;
  padding: 0.6em 1em;
  background-color: var(--color5);
  color: var(--color1);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
  margin: auto;
}
.uploadBtn:hover {
  background-color: var(--color4);
}

.uploadForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  align-items: center;
  padding: 0.5em 0 1em;
  box-shadow: 1px 2px 2px 2px var(--color5);
  border-radius: 5px;
}
.uploadForm label {
  font-size: 20px;
  color: var(--color6);
}
.uploadForm input {
  width: 80%;
  padding: 0.5em 1em;
  background-color: var(--color5);
  border: none;
  border-radius: 5px;
  outline-width: 0;
}
.uploadForm input::placeholder,
.uploadForm textarea::placeholder {
  color: white;
}
.uploadForm textarea {
  resize: none;
  width: 80%;
  height: 100px;
  outline: none;
  background-color: var(--color5);
  border: none;
  border-radius: 5px;
  padding: 0.2em 0.5em;
}

.uploadForm input[type="submit"] {
  color: var(--color1);
  margin-top: 1em;
  font-weight: bold;
  background-color: var(--color6);
  transition: all 0.3s ease;
}
.uploadForm input[type="submit"]:hover {
  background-color: var(--color5);
}

/* Post Container */
.postContainer {
  width: 90%;
  margin: auto;
}
.postContainer-title {
  width: 90%;
  text-align: center;
  font-size: 30px;
}
.postContainer-title span {
  font-size: 10px;
  color: var(--color6);
  letter-spacing: 0.1em;
  margin-left: 0.3em;
}

.postContainer img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  /* object-fit: cover; */
}

.postContainer-message {
  margin: 1em 0;
  text-align: justify;
  letter-spacing: 0.02em;
}

/* Comment Section */
.commentContainer {
  background-color: var(--color2);
  width: 90%;
  max-width: 900px;
  margin: auto;
  /* border: 1px solid var(--color8); */
  border-radius: 5px;
  padding: 0.5em 0.5em;
  box-shadow: 0px 5px 10px 0px var(--color5);
  position: relative;
  padding-bottom: 160px;
}

.commentBtn {
  border: none;
  background-color: var(--color6);
  padding: 0.5em;
  color: var(--color1);
  border-radius: 5px;
  display: block;
  margin: auto;
}

.commentForm {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}
.commentForm input {
  background-color: var(--color1);
  outline-width: 0;
  padding: 0.2em;
  border-radius: 5px;
  border: 1px solid var(--color5);
}
.commentForm textarea {
  margin-top: 0.5em;
  outline: none;
  padding: 0.3em;
  resize: none;
  border-radius: 5px;
  border: 1px solid var(--color5);
}
.commentForm input[type="submit"] {
  margin-top: 0.5em;
  background-color: var(--color6);
  color: var(--color1);
  font-weight: bold;
  padding: 0.3em;
  border: none;
  transition: all 0.2s ease-in;
}
.commentForm input[type="submit"]:hover {
  box-shadow: 2px 2px 5px 0px var(--color8);
}

.commentForm .row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

@media (max-width: 500px) {
  .commentForm .row1 {
    grid-template-columns: 1fr;
  }
}
.commentItem {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 0.2em 0;
  border-bottom: 1px solid var(--color5);
  /* outline: 1px solid red; */
}
.commentItem-box1 {
  /* outline: 1px solid red; */
  display: flex;
  align-items: baseline;
}
.commentItem-box1 h2 {
  font-size: 16px;
  margin-left: 0.5em;
}
.commentItem-box1 p {
  font-size: 0.6em;
  margin-left: 0.2em;
  color: var(--color5);
}
.commentItem-message {
  margin-left: 0.5em;
  font-style: italic;
}

/* Writer Corner */
.writer-corner {
  display: grid;
  place-items: center;
  margin-bottom: 1em;
}
.writer-corner h1 {
  color: var(--color5);
}
.writer-corner h1 span {
  color: var(--color8);
  font-size: 1.2em;
}
